<!-- Tuesday, October 18, 2016
Today’s Paper
Video
77°F
AAO +100% -->

<header class="masthead">
  <nav class="language-nav">
    <ul>
      <li><a href="#">CSS</a></li>
    </li><a href="#">HTML</a></li>
  </li><a href="#">Javascript</a></li>
</li><a href="#">Ruby</a></li>
    </ul>
  </nav>
  <!-- <nav class="masthead-links"> -->
    <img class="logo" src="assets/AA_Times_Logo.png" alt="">
    <ul class="masthead-links">
      <li>Tuesday, October 18, 2016</li>
      <li id= "todays-paper">
        <i class=" fa fa-newspaper-o"></i>
        Today’s Paper
      </li>
        <li id="video-camera">
        <i class=" fa fa-video-camera"></i>
        Video
      </li>

      <li><button>77°F</button></li>
      <li><button>AAO +100%</button></li>
    </ul>
  <!-- </nav> -->
</header>
